.wd-background {
    background-color: black;
    left: 16px;
}

.wd-frame {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.wd-search {
    background-color: #464646;
    color: white;
    border-radius: 50px;
    width: 450px;
    padding: 8px;
    position: absolute;
    left: 16px;
    border: 0;
    top: 19px;
}

.wd-gear-icon {
    position: absolute;
    right: 12px;
    top: 20px;
}

.wd-topic-link-selected {
    padding: 16px;
    font-family: Arial;
    font-size: 15px;
    text-underline-offset: 7px;
    text-decoration-thickness: 5px;
    color: #1DA1F2;
}

.wd-topic-link {
    padding: 16px;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    color: #6E767D;
}

.wd-horizontal-ruler {
    border: gray;
}

.wd-subject {
    position: relative;
    font-family: Arial;
    color: #6E767D;
    font-size: 13px;
    left: 16px;
    top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wd-post-name {
    font-size: 16px;
    color: white;
}

.wd-author-name {
    color: white;
}

.wd-post-image {
    position: relative;
    float: right;
    right: 32px;
    border-radius: 20px;
    bottom: 45px;
}

.wd-move-up {
    position: relative;
    top: -40px;
}

.wd-post-image-thumbnail {
    width: 80px;
    height: 80px;
}

.wd-user-image {
    width: 40px;
    height: 40px;
}

.wd-search-box {
    text-indent: 35px;
    right: 15px;
}

.wd-search-icon {
    position: relative;
    left: 22px;
    z-index: 10;
    top: 8px;
}

.wd-follow-button {
    vertical-align: center;
}

.wd-left-side {
    border: none;
}

.featured-image-area {
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
}

.cog-icon {
    color: gray;
}

.navigation-tabs {
    border: 0;
}

.challenge-search-box {
    background-color: #ebe9e4;
}

.challenge-search-icon {
    color: grey;
}

.navigation-tab {
    color: #575757;
    font-weight: 500;
}

.selected-tab {
    color: black;
    text-decoration: underline;
    text-underline-offset: 23px;
    text-decoration-thickness: 4px;
    text-decoration-color: 	#1DA1F2;
}

.wd-move-up-challenge {
    position: relative;
    top: -70px;
}

.main-image-title {
    font-weight: 700;
}

.post-desc {
    font-size: small;
}

.post-title {
    font-size: medium;
}

.highlighted {
    color: #1DA1F2;
}

.post-challenge {
    border-left: 1px lightgray solid;
    border-right: 1px lightgray solid;
}

.top-post-challenge {
    border-top: 1px lightgray solid;
}

.right-sidebar {
    background-color: #f5f3f2;
}

.follow-guide {
    font-weight: 700;
}

.thick-lettering {
    font-weight: 700;
}